@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding: 60px 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0 94px 0;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  font-family: roboto, sans-serif;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
}

.close-btn {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn__svg {
  width: 11px;
  height: 11px;
  fill: black;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn__svg,
.close-btn:focus .close-btn__svg {
  fill: #2196f3;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-btn {
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: 10px;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    fill: #212121;
  }
  .menu-btn__cross {
    right: 15px;
  }
  .menu-btn:hover, .menu-btn:focus {
    fill: #2196f3;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.about__title, .team__title, .clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .about__title, .team__title, .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.feature__title, .about-item__text, .footer-sm__call, .footer-form__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: #2196f3;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--header {
  color: #000000;
}

.logo--footer {
  color: #ffffff;
}

.header-nav {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
  }
  .menu-container.is-open {
    opacity: 1;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container-mob {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 48px;
    padding-left: 40px;
    height: calc(100vh - 48px);
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    position: relative;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link--active::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--active {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link {
  color: #757575;
}

@media screen and (max-width: 767px) {
  .contact__link {
    font-size: 24px;
    line-height: 1.17;
    font-weight: 500;
    -webkit-transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: #2196f3;
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact__item:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact__icon {
    display: inline-block;
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    --color: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px;
  }
  .social-media__item:not(:last-child) {
    margin-right: 10px;
  }
  .social-media__item:not(:first-child) {
    margin-left: 10px;
  }
  .social-media__item {
    position: relative;
  }
  .social-media__item:not(:last-child)::after {
    content: "";
    position: absolute;
    display: block;
    width: 0px;
    height: 22px;
    top: 0;
    right: 0;
    -webkit-transform: translateX(11px);
            transform: translateX(11px);
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social-media__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .social-media {
    display: none;
  }
}

.sm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sm-list__item:not(:last-child) {
  margin-right: 10px;
}

.sm-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list__link:focus, .sm-list__link:hover {
  background-color: #2196f3;
}

.sm-list__link:focus .sm-list__icon,
.sm-list__link:hover .sm-list__icon {
  fill: #ffffff;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .page-header {
    height: 60px;
  }
}

.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mob.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob.jpg");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mob@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tab.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tab@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
  }
}

.features-list {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.feature {
  width: 100%;
}

.feature:not(:last-child) {
  margin-bottom: 30px;
}

.feature__title {
  margin-bottom: 10px;
  text-align: center;
}

.feature__text {
  line-height: 1.71;
}

.feature__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature__svg {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .feature {
    width: calc((100% - 30px) / 2);
  }
  .feature__title {
    text-align: left;
  }
  .feature:nth-child(2n-1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    width: calc((100% - 90px) / 3);
  }
  .feature:not(:last-child) {
    margin-right: 30px;
  }
}

.about {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-item {
  position: relative;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item__text {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team__name, .team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: block;
}

.team__photo {
  width: 100%;
  max-width: 450px;
}

.team__name {
  font-weight: 500;
  margin-bottom: 10px;
  color: #212121;
}

.team__position {
  margin-bottom: 16px;
}

.team__card {
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__info {
  padding: 30px 32px 30px 32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
  }
  .team__photo {
    max-width: 354px;
  }
  .team__card {
    width: calc((100% - 30px) / 2);
  }
  .team__card:nth-child(2n-1) {
    margin-right: 30px;
  }
  .team__card:nth-child(n-2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team__photo {
    max-width: 270px;
  }
  .team__card {
    width: calc((100% - 90px) / 4);
  }
  .team__card:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients__item {
  height: 92px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: #2196f3;
}

.clients__svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item {
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
  .clients__link {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts__list {
  margin-top: 20px;
}

.footer-contacts__item {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.footer-contacts__address {
  color: #ffffff;
}

.footer-contacts__mail {
  color: inherit;
}

.footer-contacts__tel {
  color: inherit;
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
  }
  .footer-contacts__list {
    margin-bottom: 60px;
  }
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    display: inline-block;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: inline-block;
  }
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-sm {
  margin-bottom: 60px;
  vertical-align: top;
}

.footer-sm__call {
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-sm {
    display: inline-block;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sm {
    display: inline-block;
    padding-top: 12px;
    margin-left: 70px;
  }
  .footer-sm__call {
    text-align: left;
  }
}

.sm-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.sm-list__icon--footer {
  fill: #ffffff;
}

.footer-form {
  text-align: center;
}

.footer-form__label {
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 15px 15px 16px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    display: block;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    margin-left: 93px;
  }
  .footer-form__label {
    display: block;
    text-align: start;
  }
  .footer-form__input {
    display: inline-block;
    width: 358px;
    margin-right: 12px;
  }
}

.button--footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 28px 10px 29px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.button__svg {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
}

.form__input, .form__comment {
  padding: 12px 12px 12px 42px;
  letter-spacing: 0.01em;
  color: #757575;
  outline: #2196f3;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: calc(100vw - 30px);
  max-width: 450px;
  padding: 40px;
  background: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__name {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-width: 528px;
  }
  .modal__name {
    line-height: 1.15;
  }
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  margin-bottom: 10px;
}

.form__comment {
  font-size: 14px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 29px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__comment:hover, .form__comment:focus,
.form__input:hover ~ .form__icon,
.form__input:focus ~ .form__icon {
  border-color: #2196f3;
  fill: #2196f3;
  outline: #2196f3;
  cursor: pointer;
}

.form__input:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .form__comment {
    font-size: 12px;
  }
}

/* ---------- УСЛОВИЯ ДОГОВОРА ---------- */
.terms {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.71;
  cursor: pointer;
}

.terms__link {
  color: #2196f3;
}

.terms__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-24px, -50%);
          transform: translate(-24px, -50%);
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 3px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms:hover .terms__icon,
.terms__check:focus ~ .terms__icon {
  border-color: #2196f3;
}

.terms__check:checked ~ .terms__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icon-checked.svg);
  background-size: contain;
  background-origin: border-box;
}

@media screen and (min-width: 1200px) {
  .terms {
    line-height: 1.17;
    font-size: 14px;
    margin-bottom: 31px;
    padding-left: 36px;
  }
}

/* ------- КНОПКА ФОРМЫ --------- */
.button-place {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */