.footer {
  background-color: $footer-bgc;
  padding-top: 60px;
  padding-bottom: 60px;
}

// ----------------------------- ADDRESS TELEPHONE EMAIL -------------------
.footer-contacts {
  &__list {
    margin-top: 20px;
  }

  &__item {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
  }

  &__address {
    color: $page-bgc;
  }

  &__mail {
    color: inherit;
  }

  &__tel {
    color: inherit;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;

    &__list {
      margin-bottom: 60px;
    }

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;

    &__item:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

// ----------------------------- SOCIAL MEDIA------------------------------

.footer-sm {
  margin-bottom: 60px;
  vertical-align: top;

  &__call {
    @extend %h3-title;
    margin-bottom: 20px;
    text-align: center;

    letter-spacing: 0.06em;
    color: $page-bgc;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    padding-top: 12px;
    margin-left: 70px;

    &__call {
      text-align: left;
    }
  }
}

.sm-list {
  &__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__icon--footer {
    fill: $page-bgc;
  }
}
// ----------------------- FORM --------------------------

.footer-form {
  text-align: center;

  &__label {
    @extend %h3-title;
    letter-spacing: 0.03em;
    color: $page-bgc;
  }

  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 15px 15px 16px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (min-width: 768px) {
      display: block;
      width: 450px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    margin-left: 93px;

    &__label {
      display: block;
      text-align: start;
    }

    &__input {
      display: inline-block;
      width: 358px;
      margin-right: 12px;
    }
  }
}

.button {
  &--footer {
    display: inline-flex;
    padding: 10px 28px 10px 29px;
    align-content: center;
  }

  &__svg {
    display: inline-block;
    align-self: center;
    margin-left: 10px;
  }
}
