.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $page-bgc;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  &__title {
    @extend %h1-title;
  }
}
