// ------ КНОПКИ СОРТИРОВКИ ----------

.portfolio-chois {
  margin-bottom: 40px;

  &__item {
    display: inline-block;
  }

  @media screen and (max-width: 767px) {
    &__item:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__btn {
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    border-width: 0;
    text-align: center;

    background-color: $team-bgc;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: $secondary-text-color;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn:focus,
  &__btn:hover {
    color: #ffffff;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__item {
      margin-bottom: 0;
    }
  }
}

// ----------------------------- КАРТОЧКИ ---------------------------------
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.portfolio-card {
  width: 100%;
  max-width: 450px;
      margin-right: 15px;
      margin-left: 15px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__link {
    text-decoration: none;
  }

  &__thumb {
    overflow: hidden;
    position: relative;
  }

  &__photo {
    width: 100%;
    // max-width: 450px;
  }

  &__overlay {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 294px;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $page-bgc;

    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__name {
    margin-bottom: 4px;

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
  }

  &__type {
    font-size: 16px;
    line-height: 1.87;
    color: $primary-text-color;
  }

  &__frame {
    border: 1px solid $team-bgc;
    border-top: none;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
  }

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:focus &__overlay,
  &:hover &__overlay {
    top: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
    width: 354px;

    &__photo {
      width: 354px;
    }

    // &:nth-child(2n) {
    //   margin-right: 0;
    // }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    // margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;

    &__photo {
      width: 370px;
    }

    // &:nth-child(3n) {
    //   margin-right: 0;
    // }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.portfolio-card.is-hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}