.logo {
  font-family: $ff-accent;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: $accent-text-color;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--header {
  color: #000000;
}

.logo--footer {
  color: #ffffff;
}
