.logo {
  font-family: $ff-accent;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $accent-text-color;
  letter-spacing: 0.03em;
}

.logo--header {
  color: #000000;
}

.logo--footer {
  color: #ffffff;
}
