body {
  color: $primary-text-color;
  background-color: $page-bgc;
  font-family: $ff-primary;
  letter-spacing: $primary-letter-spacing;
  font-size: $primary-font-size;
}

.section {
  padding: 60px 0 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0 94px 0;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
