// COLORS

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-text-color: #2196f3;

$hero-bgc: #2f303a;
$footer-bgc: #2f303a;
$page-bgc: #ffffff;
$team-bgc: #f5f4fa;

$hero-title-color: #ffffff;
$accent-color: #2196f3;
$outline-color: #ececec;
$sm-icons-color: #afb1b8;

// FONTS

$ff-accent: Raleway, sans-serif;
$ff-primary: roboto, sans-serif;
$primary-font-size: 14px;
$primary-letter-spacing: 0.03em;
